pre {
	font-family:'times';
	font-size: 14px;
}

span {
	text-decoration: underline;
}

span:hover {
	color: pink;
}

span#one:hover:after {
	content: 'In 1982, Manhattan South Street Seaport area was a group';
	color: black;
	position: absolute;
	left: 300px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#two:hover:after {
	content: 'of rundown nineteenth century buildings';
	color: black;
	position: absolute;
	left: 700px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#three:hover:after {
	content: 'A new class of visitor began to walk the streets';
	color: black;
	position: absolute;
	left: 900px;
	top: 800x;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#four:hover:after {
	content: 'Seaport reflects US middle class hatred of dirt';
	color: black;
	position: absolute;
	left: 100px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#five:hover:after {
	content: 'The clean vision of the world, and particularly of America, dominates post­modern and simulationist thought';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#six:hover:after {
	content: 'Dirty art has had its allies within the museum community';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#seven:hover:after {
	content: 'it began to occur to people that maybe art could survive outside the gallery.';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#eight:hover:after {
	content: 'He found materials imbued with traces of use';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#nine:hover:after {
	content: 'Hammons sought out crummy spaces,';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#ten:hover:after {
	content: 'His freedom also comes in part in making art from used materials';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#eleven:hover:after {
	content: 'His freedom also comes in part in making art from used materials';
	color: black;
	position: absolute;
	left: 800px;
	top: 400px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}


span#twelve:hover:after {
	content: 'New materials have no spirit.';
	color: black;
	position: absolute;
	left: 100px;
	top: 300px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}

span#thirteen:hover:after {
	content: 'Hammons looks closely at our culture and shows it to us with moles and hairs';
	color: black;
	position: absolute;
	left: 800px;
	top: 900px;
	font-size: 40px;
	font-family: times;
	text-shadow: 2px 2px 4px #D3D3D3;
}
